<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="flex items-center justify-center">
    <h1 class="font-brand font-bold text-3xl text-white">Create a new Gist</h1>
  </div>
</Layouts.app>