<h1>ID: {@product.id}</h1>
<h1>Product name: {@product.name}</h1>

<.product :if={@product} product={@product} />

<.button>Click me</.button>

<p><.link navigate={~p"/products"}>&lt;-- Back to products listing</.link></p>